<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{bien.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{bien.title}}</h5>
      <p class="card-text">{{bien.description}}</p>
      <hr>
      <span class="float-left btn btn-sm disabled btn-outline-danger">{{bien.price}}</span>
      <span class="btn btn-sm text-center disabled">Il y'a 23j</span>
      <a href="#" class="btn btn-sm btn-primary float-right">Réservez</a>
  </div>
</div>
